<table class="nrfc_league_table">
  <thead>
  <tr>
    <th>Team</th>
    <th>P</th>
    <th>W</th>
    <th>D</th>
    <th>L</th>
    <th>PF</th>
    <th>PA</th>
    <th>+/-</th>
    <th>TB</th>
    <th>LB</th>
    <th>Pts</th>
  </tr>
  </thead>
  <tbody>
  {% for key,value in rows %}
    <tr>
      <td>{{ value.teamName }}</td>
      <td>{{ value.played }}</td>
      <td>{{ value.win }}</td>
      <td>{{ value.draw }}</td>
      <td>{{ value.lose }}</td>
      <td>{{ value.points_for }}</td>
      <td>{{ value.points_against }}</td>
      <td>{{ value.points_diff }}</td>
      <td>{{ value.try_bonus }}</td>
      <td>{{ value.lose_bonus }}</td>
      <td>{{ value.total_points }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
